@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-white text-black antialiased;
}

input,
select,
textarea,
button {
  color: #000;
  background-color: #fff;
}

table,
td,
th {
  color: #000;
}
